<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="app">
      <h1>{{mensaje}}</h1>
      <table>
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>carrera</th>
            <th>semestre</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="elementos in alumnosFiltrado.alumnosSegundo">
            <td>{{elementos.id}}</td>
            <td>{{elementos.nombre}}</td>
            <td>{{elementos.carrera}}</td>
            <td>{{elementos.semestre}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </body>
</html>
<script>
    let app = new Vue({
      el:'#app',
      data:{

          mensaje:'hola',
          alumnos : [
            {
              id:1,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'2do'
            },
            {
              id:2,
              nombre:'jose',
              carrera:'ingenieria civil',
              semestre:'1er'
            },
            {
              id:3,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'1er'
            },
            {
              id:4,
              nombre:'jose',
              carrera:'ingenieria civil',
              semestre:'2do'
            },
            {
              id:5,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'1er'
            },
            {
              id:6,
              nombre:'jose',
              carrera:'ingenieria civil',
              semestre:'1er'
            },
            {
              id:7,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'1er'
            },
            {
              id:8,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'1er'
            },
            {
              id:9,
              nombre:'jose',
              carrera:'ingenieria en sistemas',
              semestre:'1er'
            },
            {
              id:10,
              nombre:'jose',
              carrera:'ingenieria civil',
              semestre:'2do'
            }
          ],
          alumnosFiltrado:{}
        
      },
      methods:{
        filtradoDeAlumnos(){
          this.alumnosFiltrado= this.alumnos.reduce((accum,elemento)=>{
            if(elemento.semestre =='2do'){
              accum.alumnosSegundo.push(elemento)
            }
            return accum
          },{alumnosSegundo:[]})
        }
      },
      beforeMount(){

      },
      mounted(){
        this.filtradoDeAlumnos()
      },
      afterMounted(){

      },
      beforeDestroy(){

      },
      destroyed(){

      }
    })
</script>
<script>

/*

1.agregar el cdn(link) de vue
2.en script agregar app new Vue
let app = new Vue({
  el:'#app',
  data(){
    return{

    }
  },
  methods:{

  },
  beforeMount(){

  },
  mounted(){

  },
  afterMounted(){

  },
  beforeDestroy(){

  },
  destroyed(){

  }
})
3.dentro de data return agregar el arreglo de objetos en este caso llamado
alumnos
4.dentro de methods crear la funcion en la que se filtren los datos con reduce
filtradoDeAlumnos(){
  this.alumnosFiltrado= this.alumnos.reduce((accum,elemento)=>{
    if(elemento.semestre =='2do'){
      accum.alumnosSegundo.push(elemento)
    }
    return accum
  },{alumnosSegundo:[]})
}
5. en mounted mandar llamar la funcion filtradoDeAlumnos
mounted(){
  this.filtradoDeAlumnos()
},
6.desplegarlo en una tabla en el html

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>carrera</th>
      <th>semestre</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="elementos in alumnosFiltrado.alumnosSegundo">
      <td>{{elementos.id}}</td>
      <td>{{elementos.nombre}}</td>
      <td>{{elementos.carrera}}</td>
      <td>{{elementos.semestre}}</td>
    </tr>
  </tbody>
</table>
*/
</script>
